name: Semantic Release
on:
    push:
        branches: [main]
jobs:
    release:
        name: Semantic Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '20'
            - name: Install dependencies
              run: npm ci
            - name: Run semantic-release
              run: npx semantic-release
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
